out
klippy/*/*.so
*.pyc
.config
.config.old
klippy/chelper/Makefile
klippy/extras/ens160.py
klippy/extras/gcode_shell_command.py
klippy/extras/zmod.py
klippy/chelper/c_helper.so
klippy/extras/zmod_color.py
klippy/extras/zmod_ifs_motion_sensor.py
klippy/extras/zmod_ifs_switch_sensor.py
klippy/extras/zmod_ifs.py
klippy/extras/zmod_tenz.py
klippy/extras/virtual_sdcard.py
klippy/extras/led_effect.py
klippy/extras/ifs_jacker*.py
